<header class="header ">
    <div class="inner">
        <h1 class="header-logo">
          <a href="/">iM</a>
        </h1>
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li class="header-nav-item"><a href="/works">WORKS</a></li>
            <li class="header-nav-item"><a href="/about#skill">SKILL</a></li>
            <li class="header-nav-item"><a href="/about">ABOUT</a></li>
            <li class="header-nav-item"><a href="/contact">CONTACT</a></li>
            <li class="header-nav-item"><a href="/blog">BLOG</a></li>
            <li class="header-nav-item"><a href="/EN">EN</a></li>
          </ul>
        </nav>
    </div>
</header>