<footer class="footer">
    <a href="https://soundcloud.com/im-im-677487100" target="_blank">
        <img class="SNS-icon"
        src="/img/soundcloud.png"
        alt="soundcloud">
    </a>
    <div class="copyright">Copyright &copy; 2022 iM. All right reserved.</div>
</footer>