<footer class="footer">
    <a href="https://twitter.com/iM_music72" target="_blank">
        <img class="SNS-icon-TW"
        src="./twitter.png"
        alt="Twitter">
    </a>
    <a href="https://www.nicovideo.jp/user/32367956/video?ref=pc_userpage_menu" target="_blank">
        <img class="SNS-icon-NC"
        src="./niconico.png"
        alt="niconico">
    </a>
    <a href="https://www.youtube.com/channel/UCZcCKTJpJtnbm90-YA1oR0w" target="_blank">
        <img class="SNS-icon-YT"
        src="./youtube.png"
        alt="YouTube">
    </a>
    <a href="https://soundcloud.com/im-72" target="_blank">
        <img class="SNS-icon-SC"
        src="./soundcloud.png"
        alt="soundcloud">
    </a>
    <div class="copyright">Copyright &copy; 2022 iM. All right reserved.</div>
</footer>
