<footer class="footer">
    <a href="https://twitter.com/iM_music72" target="_blank">
        <%= image_tag 'twitter.png' , class:"SNS-icon-TW", alt:"Twitter"%>
    </a>
    <a href="https://www.nicovideo.jp/user/32367956/video?ref=pc_userpage_menu" target="_blank">
        <%= image_tag 'niconico.png' , class:"SNS-icon-NC", alt:"niconico"%>
    </a>
    <a href="https://www.youtube.com/channel/UCZcCKTJpJtnbm90-YA1oR0w" target="_blank">
        <%= image_tag 'youtube.png' , class:"SNS-icon-YT", alt:"YouTube"%>
    </a>
    <a href="https://soundcloud.com/im-72" target="_blank">
        <%= image_tag asset_path('soundcloud.png') , class:"SNS-icon-SC", alt:"soundcloud" %>
    </a>
    <div class="copyright">Copyright &copy; 2022 iM. All right reserved.</div>
</footer>