<main class="content">
    <!-- about -->
  <section class="about section" id="about">
    <div class="inner">
      <h2 class="title">ABOUT</h2>
      <div class="profile">
        <p class="profile-img">
          <%= image_tag 'profile.jpg', alt:"profile"%>
        </p>
        <div class="profile-body">
          <p>
            作編曲家/ギタリスト/サックス奏者/コンダクター/Unityエンジニア
          </p>
          <p>
            明治大学理工学部情報科学科卒業。<br>
            在学中はVRライブの演出やハイパーカジュアルゲームの制作に携わる。<br>
            応用情報技術者。<br><br>
            趣味は音楽ゲーム。<br>
            中でもmaimaiとjubeatが得意。
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
</main>