<!DOCTYPE html>
<html>
<%= render 'home/template/header' %>
<body>
  <div class="wrapper">
    <%= render 'home/template/bodyHeader' %>

    <main class="content">
      <div class="wrap">
        <video id="bg-video" src="movie/a.mp4" autoplay loop muted>
        <img src="img/9.png" alt="Placeholder">
        </video>
          <div class="main-visual">
            <div class="main-visual-inner">
              <p class="main-visual-title">iM</p>
              <p class="main-visual-text">
                作編曲・ボーカル編集等<br class="sp-only">お引き受けしております<br>
                XRに関する業務全般<br class="sp-only">大歓迎です<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="js/script.js"></script>
</body>
<%= render 'home/template/footer' %>
</html>