<!DOCTYPE html>
<html>
  <%= render 'home/template/header' %>
  <body>
    <div class="wrapper">
      <%= render 'home/template/bodyHeader' %>
      <%= yield %>
    </div>
  </body>
  <%= render 'home/template/footer' %>
</html>